services:
  producers_database:
    image: mysql:8.0
    container_name: producers_database
    restart: unless-stopped
    command: >
      --default-authentication-plugin=mysql_native_password
      --innodb-buffer-pool-size=32M
      --innodb-log-buffer-size=1M
      --max-connections=20
      --key-buffer-size=8M
      --tmp-table-size=8M
      --max-heap-table-size=8M
      --performance-schema=OFF
    environment:
      MYSQL_ROOT_PASSWORD: ionutqwerty
      MYSQL_DATABASE: PRODUCERS
      MYSQL_USER: admin
      MYSQL_PASSWORD: ionutqwerty
    ports:
      - "3306:3306"
    volumes:
      - producers_data:/var/lib/mysql
    mem_limit: 128m
    memswap_limit: 128m

volumes:
  producers_data: